.card-title-menue{
  position: absolute;
  top:15%;
  left: 2%;
  font-size: 35px;
}

.card-title-price{
  position: absolute;
  top: 30%;
  left: 2%;
  font-size: 18px;
}


.edit-and-delete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.edit-delete-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration:none;
}

.delete-edit{
  margin-top: -2px;
  margin-right: 20px;
}

