.formcontainer{
    width: 500px;
    position: absolute;
    top: 52%;
    left: 35%;
  
}


.seprating {
    border-color:#FF8A00;
    width: 100%;
  }
  

  .container-patron {
    position: absolute;
    top:55%;
    left: 35%;
    width: 60%;
  }

  .btn-patron-profile{

    position: absolute;
    right: 10%;
  }
  .img-circle {
    block-size: 8rem;
    
    
  }

  .avatar-pic:hover {
    border:red 10px;
    border-width: 10px;
    box-shadow: brown;
    
  }
  
  .form-group-avatars {
    position: absolute;
    top:55%;
    left: 30%;
    width: 60%;
    justify-items: center;
    align-items: center;
  }
  .btn-avatars {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    right: 10%;
    
    
  }
  .edit-avatar{
    position: absolute;
    left: 20%;
    top: 48%;
  }
