.formcontainer{
    width: 500px;
    position: absolute;
    top: 52%;
    left: 35%;
  
}


.seprating {
    border-color:#FF8A00;
    width: 100%;
  }
  

  .container-patron {
    position: absolute;
    top:55%;
    left: 35%;
    width: 60%;
  }
