$orange-color: #FF8A00;
$lightgraybackground :#EDEFF0;
$whaitbackground :#ffff;

.continerforbackgroundcolor{
  background-color: $lightgraybackground;
  padding-top: 1%;
}

// .row1{
//   padding-left: 2rem;
//   padding-top: 2rem;
//   padding-right: 2rem;
//   display: flex;
// }
.seprating{
  width: 100%;
  border-color: $orange-color;
}
.conrinerforPadding{
  padding-left: 0;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 1rem;
  width: 100%;
  background-color: $whaitbackground;
}

.conrinerPadding{
  padding-left: 0;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 1rem;
  width: 100%;
}


.conrinerPaddingbtn{
  left: 4%;
  padding-left: 0;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 1rem;
  width: 100%;
}





@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$blue-color: #1762A7 ;
$orange-color: #FF8A00;
$nav-background: $blue-color;
$nav-hover: $orange-color;
$sidebar-background: #77828C;

.container{
  padding-top: 180px;
  

}
.sidenav {
  height: 100%;
  width: 350px;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: $sidebar-background;
  align-items: center;
  
};

.sidenav a {
  margin-top: 0px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: white;
  display: block;
  padding: 6px 8px 6px 16px;


}


.seprating-line {
  border-color: $orange-color;
  width: 80%;
  

};


.sidenav a:hover {
  color: rgb(143, 141, 141);
};
.conrinerforflex{
  display: flex;
  flex-direction: row;
}

.busnisshours{
padding-top: 30px;
  margin-top: 40px;
}




.bi {
  margin-block: 4px;
  font-size: 22px;
  margin: 2px;
}

.bi:hover {
  fill: white;
}


.description-venue{
  text-align: justify;

}

.btn-submit1{
  position: absolute;
  left:38%;
  margin-top: 5px;
  padding-bottom: 60px;

}

.btn-submit2{
  position: absolute;
  left:42%;
  margin-top: 5px;
  padding-bottom: 60px;

}


.line-fo-resizing-formvenue{
  padding-top: 0%;
  width: 70%;
  margin-left: 4%;
}

.btn-save-patron{
  background-color:#1762A7;
  color: white;

}