
$orange-color: #FF8A00;
$lightgraybackground :#EDEFF0;
$whaitbackground :#ffff;
$blue-color: #1762A7 ;

.container{
  padding-top: 180px;
  width: 800px;
  
}


.card-img-right{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid $lightgraybackground;  
  position: absolute;
  top:5%;
  right: 2%;
}


.card-title-event{
  position: absolute;
  top:15%;
  left: 2%;
  font-size: 35px;
}

.card-title-date{
  position: absolute;
  top: 30%;
  left: 2%;
  font-size: 18px;
}

.seprating{
  width: 100%;
  border-color: $orange-color;
}


.info-and-fav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.moreInfo{
  margin-top: -2px;
  margin-right: 20px;
}

.moreInfo:hover{
  text-decoration: none; 


}


.infolink{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration:none;
}


svg {
  margin-block: 4px;
  font-size: 22px;
}


svg:hover {
  fill: red;
}

.navLink {
  color: $blue-color;
  text-decoration: none;
  }
  
.mapimg{
  padding: 3rem 1.5rem;
  text-align: center;
}

